body
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: darkgrey; 
	color: purple; 
}

h1
{
	color: orange;
	letter-spacing: 5px;
}

h2
{
	color: green; 
}

h3
{
	color: blue;
}

p
{
	text-indent: 5%;
}



table
{
	border: 4px solid blue;
	border-collapse: collapse;
	background: lightyellow;
}

tr, td
{
	border: 2px solid blue; 
}

thead
{
	font-size: 40px;
	background: green;
}
tbody
{
	font-size: 25px;
	
}
tfoot
{
	font-size: 30px;
	background: pink;
}

.lp
{
	background: yellow; 
}

.results
{
	background: lightblue;
}

ol 
{
	list-style-type: upper-roman;
}

ol ol 
{
	list-style-type: lower-roman;
}

ol ol ol
{
	list-style-type: lower-greek;
}

#pasek ul {
    list-style: none;
    padding-left: 0;
	margin:0;
}

#pasek ul li{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 2px solid #555;
	float: left;
}

#pasek ul li a{
    cursor: default;
    display: block;
    color: #000;
    width: 146px;
    background-color: #dddddd;
    text-decoration: none;
}
#pasek ul li a:hover{
    background-color: #555;
    color: white;
}

#nawigacja ul 
{
	list-style: none;
    padding-left: 0;
	margin:0;
}

#nawigacja ul li{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 2px solid #555;
	float: left;
}
#nawigacja  ul li a{
    cursor: default;
    display: block;
    color: #000;
    background-color: #dddddd;
    text-decoration: none;
}
#nawigacja  ul li a:hover{
    background-color: #555;
    color: white;
}

#z1
{
	width: 40%;
    height: auto;
	float:left;
	vertical-align:top;
}

#z2
{
	width: 40%;
    height: auto;
	float:right;
	vertical-align:top;
	
}

#tytul
{
	font-size: 50px;
	text-align: center;
	width: 100%;
	background: red;
}

#zmianastyli
{
	float: left;
	width: 100px;
}

#main
{
	width: 1110px;
	height: auto; 
	margin-left: auto;
	margin-right: auto;
	
}

#pasek
{
	width: 1110px;
	float: left;
	background: lightblue; 
}

#menu
{
	width: 1110px;
	background: lightblue;
	float: left;
}

#nawigacja
{
	width: 1110px;
	background: lightblue;
	float: left;
}

#content
{
	width: 1110px;
	background: lightgreen;
	float: left;
	
}

p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

a
{
	cursor: default; 
}

 /* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
} 

#c1
{
	clear: both;
}

#c2
{
	clear: both;
}

#c3
{
	clear: both;
}
